
.container-register {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.bg-image {
    background-image: url('/resources/images/sumdu_background.jpg');
    background-size: 40% 40%;
}
